<form action="/gambleUI" method='post'>
      username: <input type='username' name='username'></input><br>
      password: <input type='password' name='password'></input><br>
      <br>
      <input type='submit' name='loginButton' value ='Log In'></input>
</form>
