<html>
<head>
  <link href="style.css" rel="stylesheet" type="text/css">
  <title><%= @title || "Gambling Application" %></title>
</head>
<body>
  <h1>Gambling Site?</h1>
  <%= yield %>

</body>
</html>
