<br>
<p>--------------------------------------------------------------------------------------</p>
<p>Copyright <%= "#{start_year}" if defined? start_year %> - <%= Date.today.year %>MyCode</p>
<p><i>note: everythign from the line down is the footer</i></p>
<p>Hello Just trying something new again w/ git</p>
